@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Taker/**/*';
@source '../../../../resources/views/filament/taker/**/*';
@source '../../../../vendor/andreia/filament-ui-switcher';
@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/**/*.blade.php';
