@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Maker/**/*';
@source '../../../../resources/views/filament/maker/**/*';
@source '../../../../vendor/andreia/filament-ui-switcher';
@source '../../../../vendor/diogogpinto/filament-auth-ui-enhancer/resources/**/*.blade.php';
